<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" routerLink="dashboard">
            <img src="./assets/images/logo.png" alt="Logo">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="list">Lista de entrega</a>
                </li>
            </ul>
        </div>
    </div>
</nav>