/* You can add global styles to this file, and also import other style files */
@import './theme/variables.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


h1 {
    font-size: var(--font-size-lg);
    color: var(--color-brand-terciary);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-small);
    margin-bottom: var(--spacing-xs);
    text-align: center;

    @media screen and (max-width: 767px) {
        font-size: var(--font-size-md);
        line-height: var(--line-height-tiny);
    }
}